@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Verylightgrayish-blue: hsl(210, 60%, 98%);
    --Lightgrayish-blue-1: hsl(211, 68%, 94%);
    --Lightgrayish-blue-2: hsl(205, 33%, 90%);
    --Grayishblue: hsl(219, 14%, 63%);
    --Darkgrayish-blue: hsl(219, 12%, 42%);
    --Verydark-blue: hsl(224, 21%, 14%);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--Grayishblue);
    position: relative;
}
.container{
    max-width: 860px;
    margin: 0 auto;
}
.wrapper{
    padding: 40px 30px 0;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 0 26px -13px rgba(0, 0, 0, .26);
}
.flex{
    display: flex;
    align-items: center;
}
.f-c{
    display: flex;
    flex-direction: column;
}
.notification-menu{
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}
.title{
    color: var(--Verydark-blue);
    font-size: 28px;
    font-weight: 800;
}
.number{
    color: var(--White);
    background-color: var(--Verydark-blue);
    padding: 3px 12px;
    border-radius: 5px;
    font-weight: 800;
    margin-left: 5px;
    align-self: self-start;
}
.read{
    color: var(--Grayishblue);
    font-size: 18px;
}
li{
    padding: 17px;
    margin: 12px 0;
    text-align-last: left;
}
.unseen{
    background-color: var(--Verylightgrayish-blue);
    border-radius: 10px;
}
.avatar{
    width: 50px;
    margin-right: 15px;
    align-self: start;
}
.names{
    color: var(--Verydark-blue);
    font-weight: bold;
    margin-right: 5px;
}
.names:hover,
.group:hover,
.post:hover,
.read:hover{
    color: var(--Blue);
    cursor: pointer;
}
.post{
    color: var(--Darkgrayish-blue);
    font-weight: 800;
    margin-left: 2px;
}
.group{
    font-weight: 800;
    margin-left: 2px;
}
.dot{
    display: inline-block;
    background-color: var(--Red);
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin-left: 7px;
}
.with-message{
    align-items: start;
}
.message{
    border: 1px solid var(--Lightgrayish-blue-1);
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 13px;
    border-radius: 5px;
}
.message:hover{
    background-color: var(--Lightgrayish-blue-2);
    cursor: pointer;
}
.with-comment{
    justify-content: space-between;
}
.img-box img{
    width: 50px;
}
.img-box img:hover{
    cursor: pointer;
}
.attribution{
    margin: 0 6%;
}
.attribution, .references{
    font-size: 14px;
    text-align: center;
}

@media (max-width: 600px){
    body{
        font-size: 14px;
        line-height: 1.4;
        margin: 20px auto;
    }
    .wrapper{
        margin: 10px;
        padding: 25px 15px 0;
    }
    .title{
        font-size: 20px;
    }
    .number{
        padding: 1px 10px;
        margin-left: 5px;
    }
    .read{
        font-size: 15px;
    }
    .message{
        font-size: 14px;
        padding: 9px;
    }
    .attribution{
        margin: 0 8%;
    }
    .attribution, .references{
        font-size: 12px;
    }
}
