@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Verylightgrayish-blue: hsl(210, 60%, 98%);
    --Lightgrayish-blue-1: hsl(211, 68%, 94%);
    --Lightgrayish-blue-2: hsl(205, 33%, 90%);
    --Grayishblue: hsl(219, 14%, 63%);
    --Darkgrayish-blue: hsl(219, 12%, 42%);
    --Verydark-blue: hsl(224, 21%, 14%);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--Grayishblue);
    position: relative;
}
.container{
    max-width: 53.75rem;
    margin: 0 auto;
}
.wrapper{
    padding: 2.5rem 1.875rem 0;
    margin: 1.875rem;
    border-radius: .9375rem;
    box-shadow: 0 0 1.625rem -.8125rem rgba(0, 0, 0, .26);
}
.flex{
    display: flex;
    align-items: center;
}
.f-c{
    display: flex;
    flex-direction: column;
}
.notification-menu{
    align-items: center;
    margin-bottom: 1.875rem;
    justify-content: space-between;
}
.title{
    color: var(--Verydark-blue);
    font-size: 1.75rem;
    font-weight: 800;
}
.number{
    color: var(--White);
    background-color: var(--Verydark-blue);
    padding: .1875rem .75rem;
    border-radius: .3125rem;
    font-weight: 800;
    margin-left: .3125rem;
    align-self: self-start;
}
.read{
    color: var(--Grayishblue);
    font-size: 1.125rem;
}
li{
    padding: 1.0625rem;
    margin: .75rem 0;
    text-align-last: left;
}
.unseen{
    background-color: var(--Verylightgrayish-blue);
    border-radius: .625rem;
}
.avatar{
    width: 3.125rem;
    margin-right: .9375rem;
    align-self: start;
}
.names{
    color: var(--Verydark-blue);
    font-weight: bold;
    margin-right: .3125rem;
}
.names:hover,
.group:hover,
.post:hover,
.read:hover{
    color: var(--Blue);
    cursor: pointer;
}
.post{
    color: var(--Darkgrayish-blue);
    font-weight: 800;
    margin-left: .125rem;
}
.group{
    font-weight: 800;
    margin-left: .125rem;
}
.dot{
    display: inline-block;
    background-color: var(--Red);
    height: .5625rem;
    width: .5625rem;
    border-radius: 50%;
    margin-left: .4375rem;
}
.with-message{
    align-items: start;
}
.message{
    border: .0625rem solid var(--Lightgrayish-blue-1);
    padding: .75rem;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: .8125rem;
    border-radius: .3125rem;
}
.message:hover{
    background-color: var(--Lightgrayish-blue-2);
    cursor: pointer;
}
.with-comment{
    justify-content: space-between;
}
.img-box img{
    width: 3.125rem;
}
.img-box img:hover{
    cursor: pointer;
}
.attribution{
    margin: 0 6%;
}
.attribution, .references{
    font-size: .875rem;
    text-align: center;
}

@media (max-width: 37.5rem){
    body{
        font-size: .875rem;
        line-height: 1.4;
        margin: 1.25rem auto;
    }
    .wrapper{
        margin: .625rem;
        padding: 1.5625rem .9375rem 0;
    }
    .title{
        font-size: 1.25rem;
    }
    .number{
        padding: .0625rem .625rem;
        margin-left: .3125rem;
    }
    .read{
        font-size: .9375rem;
    }
    .message{
        font-size: .875rem;
        padding: .5625rem;
    }
    .attribution{
        margin: 0 8%;
    }
    .attribution, .references{
        font-size: .75rem;
    }
}
